@font-face {
  font-family: '20 Kopeek';
  src: url('../fonts/20Kopeek-Book.eot');
  src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/20Kopeek-Book.woff2') format('woff2'),
  url('../fonts/20Kopeek-Book.woff') format('woff'),
  url('../fonts/20Kopeek-Book.ttf') format('truetype'),
  url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

header {
  z-index: 2;

  .navbar {
    .mobile_links {
      display: none;
    }

    .logo {
    }

    .logo-smaller {
      color: #FFFFFF;
    }
  }

  .navbar-nav {
    align-items: center;
    li {
      margin-left: 23px;
    }

    .icon-round {
      border-radius: 50px;
      border: 1px solid white;
      width: 36px;
      height: 36px;
      display: inline-flex;
    }
  }

  .f-icon {
    display: block;
    margin: auto;
  }

  .inst-icon {
    display: block;
    margin: auto;
  }

  .nav-tel {
    color: #FFFFFF;
    padding: 7px 27px 7px 33px;
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
  }

  .email {
    display: none;
  }
}

.main_banner {
  height: 100vh;
  overflow: hidden;

  .owl-stage {
    display: flex;
    @media (min-width: 360px) and (max-width: 576px) {
      display: none;
    }

    .item {
      background-image: url("../images/banner5.jpg");
      background-size: cover;
      height: 100vh;

      &.item_2 {
        background-image: url("../images/banner2.jpg");
      }

      &.item_3 {
        background-image: url("../images/banner3.jpg");
      }

      &.item_4 {
        background-image: url("../images/banner4.jpg");
      }
    }
  }

  @media (min-width: 360px) and (max-width: 576px) {
    background-image: url("../images/background_mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    h1 {
      margin-bottom: 30px;
      font-family: "20 Kopeek";
      font-size: 55px;
      line-height: 55px;
    }

    p {
      margin-bottom: 50px;
      font-family: "20 Kopeek";
      font-size: 34px;
      line-height: 37.4px;
    }
  }

  .main_button {
    background-color: #FFFFFF;
    border-radius: 40px;
    padding: 23px 47px 23px 47px;
    font-family: '20 Kopeek';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    text-decoration: none;

    &:first-of-type {
      margin-right: 20px;
    }
  }
}

.navbar-toggler {
  z-index: 3;
}

.navbar-collapse.show {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 181px;
  .navbar-nav{
    align-items: flex-start;
    padding-left: 2rem;
    flex-direction: column-reverse;
li{
  margin-left: 0;
}
}

  .nav-item {
    margin-bottom: 25px;
  }

  .mobile_links {
    display: block;
    list-style: none;
    font-family: '20 Kopeek';
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    color: rgba(24, 24, 24, 1);

    .mob_link_text {
      margin-bottom: 35px;
    }
  }

  .email {
    display: block;
    font-family: '20 Kopeek';
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: black;
    text-decoration: none;
  }

  .nav-tel {
    color: black;
    border: none;
    font-family: '20 Kopeek';
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    padding: 0;
  }

  .icon-round {
    border: 1px solid rgba(24, 24, 24, 1);

    .f-icon {
      path {
        fill: black;
      }
    }

    .inst-icon {
      path {
        fill: black;
      }
    }
  }
}

//
//.collapsing {
//  display: none;
//}
//
//.navbar-toggler {
//  z-index: 1;
//}
//
//.owl-next, .owl-prev {
//  display: none;
//}
//
//.nav-item {
//  &.nav_button {
//    min-width: 300px;
//    background-color: #FFFFFF;
//    border-radius: 40px;
//    text-align: center;
//    padding: 23px 47px 23px 47px;
//    font-family: 'Montserrat', sans-serif;;
//    font-weight: 600;
//    font-size: 18px;
//    line-height: 22px;
//    color: black;
//    display: none;
//    @media (min-width: 360px) and (max-width: 992px) {
//      display: block;
//      margin-bottom: 30px;
//    }
//  }
//}
//
//.main_button {
//  min-width: 300px;
//  background-color: #FFFFFF;
//  border-radius: 40px;
//  text-align: center;
//  padding: 23px 47px 23px 47px;
//  font-family: 'Montserrat', sans-serif;;
//  font-weight: 600;
//  font-size: 18px;
//  line-height: 22px;
//  color: black;
//  &:first-of-type{
//    margin-right: 20px;
//  }
//}
//.col-12{
//  h1{
//    margin-bottom: 30px;
//  }
//  p{
//    margin-bottom: 50px;
//  }
//}
//
//.content{
//  position: absolute;
//  z-index: 1;
//  width: 100%;
//  height: 100vh;
//  left: 0;
//  top: 0;
//  display: flex;
//  align-items: center;
//}