header {
  z-index: 1;
}
@media (max-width: 992px) {
  header .container {
    max-width: 960px;
  }
}
header .navbar .logo {
  margin-right: 22px;
}
@media (min-width: 360px) and (max-width: 576px) {
  header .navbar .logo {
    margin-right: 0;
    height: 35px;
  }
}
header .navbar .logo_bigger {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}
@media (min-width: 360px) and (max-width: 576px) {
  header .navbar .logo_bigger {
    display: none;
  }
}
header .logo_smaller {
  display: none;
}
@media (min-width: 360px) and (max-width: 576px) {
  header .logo_smaller {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 13.2px;
    display: block;
  }
}
header .navbar-collapse .navbar-nav {
  align-items: center;
}
@media (min-width: 360px) and (max-width: 992px) {
  header .navbar-collapse .navbar-nav {
    position: relative;
    top: 250px;
  }
}
header .navbar-collapse .navbar-nav li {
  margin-left: 22px;
}
header .navbar-collapse .navbar-nav .nav_tel a {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 7px 27px 7px 33px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
}
@media (min-width: 360px) and (max-width: 992px) {
  header .navbar-collapse .navbar-nav .nav_tel a {
    margin-bottom: 30px;
  }
}
header .navbar-collapse .navbar-nav .social_icons {
  display: flex;
  align-items: center;
}
header .navbar-collapse .navbar-nav .social_icons .nav-item a {
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  position: relative;
}
header .navbar-collapse .navbar-nav .social_icons .nav-item a .f_icon {
  display: block;
  position: absolute;
  left: 14px;
  bottom: 10px;
}
header .navbar-collapse .navbar-nav .social_icons .nav-item a .i_icon {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 9px;
}

.main_banner {
  height: 100vh;
  overflow: hidden;
}
.main_banner .owl-stage {
  display: flex;
}
@media (min-width: 360px) and (max-width: 576px) {
  .main_banner .owl-stage {
    display: none;
  }
}
.main_banner .owl-stage .item {
  background-image: url("../images/banner5.jpg");
  background-size: cover;
  height: 100vh;
}
.main_banner .owl-stage .item.item_2 {
  background-image: url("../images/banner2.jpg");
}
.main_banner .owl-stage .item.item_3 {
  background-image: url("../images/banner3.jpg");
}
.main_banner .owl-stage .item.item_4 {
  background-image: url("../images/banner4.jpg");
}
@media (min-width: 360px) and (max-width: 576px) {
  .main_banner {
    background-image: url("../images/background_mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.navbar-collapse.show {
  background-color: rgb(43, 89, 195);
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
}

.collapsing {
  display: none;
}

.navbar-toggler {
  z-index: 1;
}

.owl-next, .owl-prev {
  display: none;
}

.nav-item.nav_button {
  min-width: 300px;
  background-color: #FFFFFF;
  border-radius: 40px;
  text-align: center;
  padding: 23px 47px 23px 47px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
  display: none;
}
@media (min-width: 360px) and (max-width: 992px) {
  .nav-item.nav_button {
    display: block;
    margin-bottom: 30px;
  }
}

.main_button {
  min-width: 300px;
  background-color: #FFFFFF;
  border-radius: 40px;
  text-align: center;
  padding: 23px 47px 23px 47px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
}
.main_button:first-of-type {
  margin-right: 20px;
}

.main_text h1 {
  margin-bottom: 30px;
}
.main_text p {
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
