@font-face {
  font-family: "20 Kopeek";
  src: url("../fonts/20Kopeek-Book.eot");
  src: url("../fonts/20Kopeek-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/20Kopeek-Book.woff2") format("woff2"), url("../fonts/20Kopeek-Book.woff") format("woff"), url("../fonts/20Kopeek-Book.ttf") format("truetype"), url("../fonts/20Kopeek-Book.svg#20Kopeek-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
header {
  z-index: 2;
}
header .navbar .mobile_links {
  display: none;
}
header .navbar .logo-smaller {
  color: #FFFFFF;
}
header .navbar-nav {
  align-items: center;
}
header .navbar-nav li {
  margin-left: 23px;
}
header .navbar-nav .icon-round {
  border-radius: 50px;
  border: 1px solid white;
  width: 36px;
  height: 36px;
  display: inline-flex;
}
header .f-icon {
  display: block;
  margin: auto;
}
header .inst-icon {
  display: block;
  margin: auto;
}
header .nav-tel {
  color: #FFFFFF;
  padding: 7px 27px 7px 33px;
  border: 1px solid white;
  border-radius: 15px;
  text-decoration: none;
}
header .email {
  display: none;
}

.main_banner {
  height: 100vh;
  overflow: hidden;
}
.main_banner .owl-stage {
  display: flex;
}
@media (min-width: 360px) and (max-width: 576px) {
  .main_banner .owl-stage {
    display: none;
  }
}
.main_banner .owl-stage .item {
  background-image: url("../images/banner5.jpg");
  background-size: cover;
  height: 100vh;
}
.main_banner .owl-stage .item.item_2 {
  background-image: url("../images/banner2.jpg");
}
.main_banner .owl-stage .item.item_3 {
  background-image: url("../images/banner3.jpg");
}
.main_banner .owl-stage .item.item_4 {
  background-image: url("../images/banner4.jpg");
}
@media (min-width: 360px) and (max-width: 576px) {
  .main_banner {
    background-image: url("../images/background_mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.main_banner .content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.main_banner .content h1 {
  margin-bottom: 30px;
  font-family: "20 Kopeek";
  font-size: 55px;
  line-height: 55px;
}
.main_banner .content p {
  margin-bottom: 50px;
  font-family: "20 Kopeek";
  font-size: 34px;
  line-height: 37.4px;
}
.main_banner .main_button {
  background-color: #FFFFFF;
  border-radius: 40px;
  padding: 23px 47px 23px 47px;
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  text-decoration: none;
}
.main_banner .main_button:first-of-type {
  margin-right: 20px;
}

.navbar-toggler {
  z-index: 3;
}

.navbar-collapse.show {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 181px;
}
.navbar-collapse.show .navbar-nav {
  align-items: flex-start;
  padding-left: 2rem;
  flex-direction: column-reverse;
}
.navbar-collapse.show .navbar-nav li {
  margin-left: 0;
}
.navbar-collapse.show .nav-item {
  margin-bottom: 25px;
}
.navbar-collapse.show .mobile_links {
  display: block;
  list-style: none;
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;
  color: rgb(24, 24, 24);
}
.navbar-collapse.show .mobile_links .mob_link_text {
  margin-bottom: 35px;
}
.navbar-collapse.show .email {
  display: block;
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: black;
  text-decoration: none;
}
.navbar-collapse.show .nav-tel {
  color: black;
  border: none;
  font-family: "20 Kopeek";
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  padding: 0;
}
.navbar-collapse.show .icon-round {
  border: 1px solid rgb(24, 24, 24);
}
.navbar-collapse.show .icon-round .f-icon path {
  fill: black;
}
.navbar-collapse.show .icon-round .inst-icon path {
  fill: black;
}

/*about--banner*/
.about--banner {
  padding-top: 70px;
  padding-bottom: 141px;
}
.about--banner h2 {
  margin-bottom: 15px;
}
.about--banner .text_box .about_text {
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 155%;
}
.about--banner .text_box .about_text:first-of-type {
  margin-bottom: 25px;
}

.snip1295 {
  position: relative;
  overflow: hidden;
  margin: 7px;
  padding: 6px;
  width: 100%;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1295 img {
  vertical-align: top;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1295 .border {
  position: absolute;
  opacity: 0.8;
}

.snip1295 .border:before,
.snip1295 .border:after,
.snip1295 .border div:before,
.snip1295 .border div:after {
  background-color: #399a07;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.snip1295 .border:before,
.snip1295 .border:after {
  width: 0;
  height: 1px;
}

.snip1295 .border div:before,
.snip1295 .border div:after {
  width: 1px;
  height: 0;
}

.snip1295 .border.one {
  left: 0;
  top: 0;
  right: 12px;
  bottom: 12px;
}

.snip1295 .border.one:before,
.snip1295 .border.one div:before {
  left: 0;
  top: 0;
}

.snip1295 .border.one:after,
.snip1295 .border.one div:after {
  bottom: 0;
  right: 0;
}

.snip1295 .border.two {
  left: 12px;
  top: 12px;
  right: 0;
  bottom: 0;
}

.snip1295 .border.two:before,
.snip1295 .border.two div:before {
  right: 0;
  top: 0;
}

.snip1295 .border.two:after,
.snip1295 .border.two div:after {
  bottom: 0;
  left: 0;
}

.snip1295 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1295:hover .border:before,
.snip1295.hover .border:before,
.snip1295:hover .border:after,
.snip1295.hover .border:after {
  width: 100%;
}

.snip1295:hover .border div:before,
.snip1295.hover .border div:before,
.snip1295:hover .border div:after,
.snip1295.hover .border div:after {
  height: 100%;
}

/*style--banner*/
.style--banner {
  padding-bottom: 120px;
}
.style--banner h2 {
  font-family: "20 Kopeek Book";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  margin-bottom: 40px;
}
.style--banner p {
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  padding-top: 28px;
}
.style--banner .number-1, .style--banner .number-2, .style--banner .number-3, .style--banner .number-4, .style--banner .number-5 {
  display: flex;
}
.style--banner .number-1::before, .style--banner .number-2::before, .style--banner .number-3::before, .style--banner .number-4::before, .style--banner .number-5::before {
  content: "1";
  font-family: "20 Kopeek Book";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  margin-right: 8px;
}
.style--banner .number-2::before {
  content: "2";
}
.style--banner .number-3::before {
  content: "3";
}
.style--banner .number-4::before {
  content: "4";
}
.style--banner .number-5::before {
  content: "5";
}
.style--banner .number-5 span {
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  display: block;
  margin-top: 15px;
}

/*price--banner*/
.price--banner {
  padding-bottom: 144px;
}
.price--banner .banner_text {
  max-width: 400px;
}
.price--banner .banner_text p {
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  margin-bottom: 30px;
}
.price--banner .banner_text p:last-of-type {
  margin-bottom: 0;
  background-color: #2B59C3;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
